{% extends "auctions/layout.html" %}


{% block body %}
    
    <h2 style="padding-left: 50px;">Active Listings</h2> 

    {% for listing in All_Listings %}

       
        <ul style="list-style-type: none; display: inline-flex;">
            <div style="margin: 10px; box-shadow: gray; background-color: white; border: 5px solid lavender; width: 350px; border-radius: 5px; height: 300px; position:sticky" id="index-child-div,">

                <div style="margin: 5px; padding-right: 10px;">
                <a href="{% url 'commerce:listing' listing %}"> <li> <h3>{{ listing }}</h3> </li> </a>
                </div>
                
                <div style="text-align: left; position: relative;">
                <small> Owner: <strong>{{listing.User}}</strong> <br> Current Bid: <strong>{{listing.Price}}</strong> </small>
                </div>
                
                <div style="text-align: left; position: relative;">
                <small>Details: <br>{{listing.Details}}</small>
                </div>


            </div>
        </ul>
 

    {% endfor %}


{% endblock %}s