{% extends "auctions/layout.html" %}


{% block title %} {{Title}} {% endblock %}

{% block body %}


<div>

    <h1>{{Title}}</h1>

    <h2>Opening Bid: {{Price}} USD</h2>

    {% if Category %}
    <h4>Category: {{Category}}</h4>
    {% else %}
    <h2>Category: Not Defined</h2>
    {% endif %}

    {% if Owner %}
    <p>Owner: {{Owner}}</p>
    {% else %}
    <p>Owner: Anonymous</p>
    {% endif %}

    
    <p>{{Detials}}</p>

</div>

{% if user.is_authenticated %}

    <form method="post">
        {% csrf_token %}
        <h5>Current Bid: {{Current_Bid}}</h5>
        <input type="number" step="0.25" value="{{Price}}" name="Bid" min="{{Price}}">
        <small>The higher your Bid, the higher your winning chance</small>
    </form>

    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Add WishList" name="Wishlist">
    </form>

    <form method="post">
        {% csrf_token %}
        <textarea name="Comment" id="Comment" cols="100" rows="3"></textarea>
        <div>
            <input type="submit" value="Comment">
        </div>
    </form>


    <form method="post">
        {% csrf_token %}
        <div>
            {% if request.user == Owner %}
            <input type="submit" value="Close" name="Close">
            <div>
            <small>-You can close this Bid now <br> and the last bidder will win</small>
            </div>
            {% endif %}
        </div>
    </form>

{% else %}

    <small>*Sign in to add Wish List items - Bids - Comments</small>

{% endif %}

{% for comment in Comments %}
<ul>
    <div>
        <h6>{{comment.User}}</h6>
        <p>{{comment.Comment}}</p>
    </div>
</ul>
{% endfor %}

{% endblock %}

