{% extends "auctions/layout.html" %}


{% block title %} 
New Listing 
{% endblock %}

{% block body %}

<h1 style="border-bottom: 5px solid #007bff; border-radius: 3px; display: inline-block; margin-bottom: 40px;">Sell Now</h1>
<form action="{% url 'commerce:New' %}" method="POST" style="display: flexbox;">

    {% csrf_token %}

        <div style="margin-bottom: 20px;">
        <input type="text" name="User" value="{{ user.username }}" readonly>
        <input type="text" name="Title" placeholder="Title" required>
        <input type="number" name="Price" step="0.25" placeholder="Price" min="1" required>
        </div>

        <div style="margin-bottom: 100px;">
        <select name="Category" style="height: 60px; width: 350px;" required>
            <option value="Tech">Tech</option>
            <option value="House">House</option>
            <option value="Kitchen">Kitchen</option>
            <option value="Sport">Sport</option>
            <option value="Cars">Cars</option>
            <option value="Health">Health</option>
            <option value="Food&Beverage">Food&Beverage</option>
            <option value="Fashion">Fashion</option>
        </select>
        </div>

        <div>
            <input style="opacity: 100%; margin-left: 100px; margin-bottom: 70px;" type="file" name="Image" required> 
        </div>

        <div style="margin-bottom: 20px;">
        <textarea style="resize: none; width: 100%;" name="Details" cols="30" rows="10" placeholder="Description" required></textarea>
        </div>

        <div style="margin-bottom: 20px;">
        <input type="submit" value="List Now" style="height: 50px; color: #007bff;">
        </div>

</form>

{% endblock %}
